<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify</title>
    <link rel="stylesheet" href="/styles/modify.css">
</head>
<body>
    <div class="container">
        <h1><%= heading %></h1>

        <% if(locals.edit_data){%>
            <form action="/edit-data/<%= edit_data.id %>" method="post">
                <input type="text" class="title-in" value="<%= edit_data.title %>" name="title">
                <textarea name="content" class="content-in" rows="10"><%= edit_data.content%></textarea>
                <input type="text" class="author-in" name="author" value="<%= edit_data.author %>">
                <button type="submit" class="submit-btn"><%= submit %></button>
            </form>
        <%}else{%>
            <form action="/new-data" method="post">
                <input type="text" class="title-in" name="title" placeholder="title" required title="title">
                <textarea name="content" class="content-in" placeholder="content" required rows="10" title="content"></textarea>
                <input type="text" class="author-in" name="author" placeholder="author" required title="author"> 
                <button type="submit" class="submit-btn"><%= submit %></button>
            </form>
       <% } %>

        <% if(locals.err){%>
            <h2><%= err %></h2>
       <% } %>
    </div>
</body>
</html>